{% extends '::base.html.twig' %} 
{% block title %}Admin Idioma{% endblock %}
{% block contenido %}
<h1>Idioma</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombreidioma</th>
            <td>{{ entity.nombreIdioma }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('idioma') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('idioma_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('idioma_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}