{% extends '::base.html.twig' %} 
{% block title %}Admin Idioma{% endblock %}
{% block contenido %}
<h1>Idioma</h1>

<table class="table table-striped table-bordered table-hover dataTables-example">
    <tbody>
        <tr>
            <th>Id</th>
            <th>Idioma</th>
        </tr>
        <tr>
            <td>{{ entity.id }}</td>
            <td>{{ entity.nombreIdioma }}</td>
        </tr>
    </tbody>
</table>

<table>
    <tr>
        <td>
            <a href="{{ path('idioma') }}" class="btn btn-outline btn-back" >Regresar</a>
        </td>
        <td>
            <form action="{{ path('idioma_delete', { 'id': entity.id }) }}" method="post" class="delet">
                {{ form_widget(delete_form) }}
                <button type="submit" class="btn btn-outline btn-danger">Eliminar</button>
            </form>
        </td>
        <td>
            <a href="{{ path('idioma_edit', { 'id': entity.id }) }}" class="btn btn-outline btn-edit">
                Editar
            </a>
        </td>
    </tr>
</table>

{% endblock %}