{% extends '::base.html.twig' %} 
{% block title %}Admin Subtema{% endblock %}
{% block contenido %}
<h1>Subtema edit</h1>

<form action="{{ path('subtema_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <br>
        <a href="{{ path('subtema') }}" class="btn btn-outline btn-back" >Regresar</a>
        <button class="btn btn-outline btn-edit editar-edit" type="submit">Editar</button>
</form>
<form action="{{ path('subtema_delete', { 'id': entity.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button type="submit" class="btn btn-outline btn-danger eliminar-edit">Eliminar</button>
</form>

{% endblock %}